@import "../style/components/header.css";
@import "../style/components/footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anton", sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 15px;
  background-color: #edefed;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(188, 51, 55);
  border-radius: 10px;
}

/* style atividades */ 

.title-atividades {
  background-color: white;
  text-align: center;
  font-size: 45px;
  padding: 40px 40px 40px;
  padding-bottom: 0px;
}

.text-atividades {
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 70px;
  font-size: 25px;
}

.sec-image-musculação {
  background-image: linear-gradient(
    to right,
    #000000,
    #0c0b0b,
    #141314,
    #1b191a,
    #211f21,
    #272427,
    #2d2a2d,
    #332f34,
    #39353c,
    #3f3c44,
    #45434c,
    #4b4a54
  );
  width: 100vw;
  color: white;
}

.sec-image-musculação img {
  width: 600px;
  border: solid white;
  border-radius: 10px;
}

.container-musculação {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.information-musculação {
  width: 700px;
}

.information-musculação h2 {
  font-size: 42px;
}

.information-musculação p {
  font-size: 20px;
}

.sec-image-artes_marciais {
  background-image: linear-gradient(
    to left,
    #000000,
    #0c0b0b,
    #141314,
    #1b191a,
    #211f21,
    #272427,
    #2d2a2d,
    #332f34,
    #39353c,
    #3f3c44,
    #45434c,
    #4b4a54
  );
  width: 100vw;
  color: white;
}

.container-imagem-artes_marciais {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

.sec-image-artes_marciais img {
  width: 400px;
  height: 300px;
  border: solid white;
  border-radius: 10px;
}

.container-artes_marciais {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.information-artes_marciais {
  width: 700px;
}

span {
  color: rgb(188, 51, 55);
}

.information-artes_marciais h2 {
  font-size: 45px;
}

.information-artes_marciais p {
  font-size: 20px;
}

.sec-image-coletivas {
  background-image: linear-gradient(
    to right,
    #000000,
    #0c0b0b,
    #141314,
    #1b191a,
    #211f21,
    #272427,
    #2d2a2d,
    #332f34,
    #39353c,
    #3f3c44,
    #45434c,
    #4b4a54
  );
  width: 100vw;
  color: white;
}

.title-atividades-coletivas {
  background-color: white;
  text-align: center;
  font-size: 45px;
  padding: 40px 40px 40px;
  padding-bottom: 0px;
}

.text-atividades-coletivas {
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  font-size: larger;
}

.sec-image-coletivas img {
  width: 280px;
  margin: 5px;
  flex-wrap: wrap;
  border: solid white;
  border-radius: 10px;
}

.container-coletivas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.container-images-coletivas {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
}

.information-coletivas {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding-left: 160px;
}

.information-coletivas h2 {
  font-size: 45px;
}

.information-coletivas p {
  font-size: 20px;
}

.sec-image-yoga {
  background-image: linear-gradient(
    to left,
    #000000,
    #0c0b0b,
    #141314,
    #1b191a,
    #211f21,
    #272427,
    #2d2a2d,
    #332f34,
    #39353c,
    #3f3c44,
    #45434c,
    #4b4a54
  );
  width: 100vw;
  color: white;
}

.sec-image-yoga img {
  width: 600px;
  border: solid white;
  border-radius: 10px;
}

.container-yoga {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.container-imagem-yoga {
  padding-right: 25px;
}

.information-yoga {
  width: 700px;
}

.information-yoga h2 {
  font-size: 45px;
}

.information-yoga p {
  font-size: 20px;
}

/* MEDIA QUERY - SCREEN */

/* TEXT - ATIVIDADES */
@media screen and (max-width: 325px) {
  .title-atividades {
    text-align: center;
    padding: 40px 0px 0px 0px;
  }
}

/* MUSCULACAO */
@media screen and (max-width: 1030px) {
  .sec-image-musculação img {
    width: 400px;
  }
  
  .information-musculação h2 {
    font-size: 35px;
  }

  .information-musculação p {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .sec-image-musculação img {
    width: 400px;
  }
}

@media screen and (max-width: 805px) {
  .sec-image-musculação img {
    width: 350px;
  }

  .information-musculação h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 685px) {
  .information-musculação h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 535px) {
  .text-atividades {
    text-align: center;
  }

  .sec-image-musculação {
    background-image: linear-gradient(
    to bottom,
    #000000,
    #0c0b0b,
    #141314,
    #1b191a,
    #211f21,
    #272427,
    #2d2a2d,
    #332f34,
    #39353c,
    #3f3c44,
    #45434c,
    #4b4a54
  );;
  }
  
  .container-musculação {
    flex-wrap: wrap;
  }

  .information-musculação {
    text-align: center;
    padding: 0;
  }
  
  .sec-image-musculação img {
    width: 250px;
  }

  .information-musculação h2 {
    font-size: 25px;
  }
}

/* ARTES MARCIAIS*/
@media screen and (max-width: 1030px) {
  .sec-image-artes_marciais img {
    width: 400px;
  }

  .information-artes_marciais h2 {
    font-size: 35px;
  }

  .information-artes_marciais p {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .sec-image-artes_marciais img {
    width: 400px;
  }
}

@media screen and (max-width: 805px) {
  .sec-image-artes_marciais img {
    width: 350px;
  }

  .information-artes_marciais h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 650px) {
  .information-artes_marciais h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 535px) {
  .text-atividades {
    text-align: center;
  }

  .sec-image-artes_marciais {
    background-image: linear-gradient(
    to bottom,
    #000000,
    #0c0b0b,
    #141314,
    #1b191a,
    #211f21,
    #272427,
    #2d2a2d,
    #332f34,
    #39353c,
    #3f3c44,
    #45434c,
    #4b4a54
  );;
  }
  
  .container-artes_marciais {
    flex-wrap:wrap-reverse;
  }

  .information-artes_marciais {
    text-align: center;
    padding: 0;
  }
  
  .container-imagem-artes_marciais img {
    width: 250px;
  }

  .information-artes_marciais h2 {
    font-size: 25px;
  }
}

/* COLETIVAS */
@media screen and (max-width: 1325px) {
  .information-coletivas {
    padding-left: 140px;
  }
}

@media screen and (max-width: 1308px) {
  .information-coletivas {
    padding-left: 120px;
  }
}

@media screen and (max-width: 1302px) {
  .information-coletivas {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1145px) {
  .footer {
    flex-wrap: wrap;
  }

  iframe {
    max-width: 100%;
  }
}

@media screen and (max-width: 1030px) {
  .sec-image-coletivas img {
    width: 240px;
    margin: 10px;
    flex-wrap: wrap;
  }

  .container-images-coletivas {
    width: 900px;
  }
  
  .information-coletivas {
    padding-left: 80px;
  }

  .information-coletivas h2 {
    font-size: 35px;
  }

  .information-coletivas p {
    font-size: 15px;
  }
}

@media screen and (max-width: 770px) {
    .sec-image-coletivas img {
    width: 165px;
    margin: 5px;
    flex-wrap: wrap;
  }

  .container-images-coletivas {
    width: 1000px;
  }
  
  .information-coletivas {
    padding-left: 60px;
  }
}

@media screen and (max-width: 685px) {
  .container-coletivas {
    flex-wrap: wrap;
  }

  .sec-image-coletivas img {
    width: 145px;
    margin: 5px;
  }

  .information-coletivas {
    width: 50%;
    padding: 0;
  }

  .information-coletivas h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 535px) {
  .sec-image-coletivas {
    background-image: linear-gradient(
    to bottom,
    #000000,
    #0c0b0b,
    #141314,
    #1b191a,
    #211f21,
    #272427,
    #2d2a2d,
    #332f34,
    #39353c,
    #3f3c44,
    #45434c,
    #4b4a54
  );;
  }
}

@media screen and (max-width: 425px) {
  .container-images-coletivas {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 325) {
  .information-coletivas {
    /* display: flex; */
    text-align: center;
  }
}

/* YOGA */
@media screen and (max-width: 980px) {
  .information-yoga {
    padding-left: 70px;
  }
}

@media screen and (max-width: 900px) {
  .sec-image-yoga img {
    width: 400px;
  }
}

@media screen and (max-width: 805px) {
  .sec-image-yoga img {
    width: 350px;
  }

  .information-yoga {
    padding: 0;
  }

  .information-yoga h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 535px) {
  .text-atividades {
    text-align: center;
  }

  .sec-image-yoga {
    background-image: linear-gradient(
    to bottom,
    #000000,
    #0c0b0b,
    #141314,
    #1b191a,
    #211f21,
    #272427,
    #2d2a2d,
    #332f34,
    #39353c,
    #3f3c44,
    #45434c,
    #4b4a54
  );;
  }
  
  .container-yoga {
    flex-wrap: wrap-reverse;
  }

  .information-yoga {
    text-align: center;
    padding: 0;
  }
  
  .sec-image-yoga img {
    width: 250px;
  }

  .information-yoga h2 {
    font-size: 25px;
  }

  .information-yoga p {
    font-size: 15px;
  }

  .container-imagem-yoga {
    padding: 0;
  }
}

/* FOOTER */
@media screen and (max-width: 1000px) {
  .footer {
    gap: 20px;
  }

  .container-googlemap {
    width: 100%;
  }
}
