@import "../style/components/header.css";
@import "../style/components/footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Anton", sans-serif;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 15px;
  background-color: #edefed;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(188, 51, 55);
  border-radius: 10px;
}

/* Nossa Espaco - Style */

.title-espace {
  background-color: white;
  text-align: center;
  font-size: 45px;
  padding: 40px;
}

.text-title-nossa-academia {
  width: 50%;
  background: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
  font-size: 25px;
  margin: 0 auto;
}

#items-wrapper {
  width: 100vw;
  height: auto;
  background-color: white;
  padding-left: 1rem;
}

#items {
  background-color: white;
  width: 100vw;
  height: 530px;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

#items::-webkit-scrollbar {
  background-color: #edefed;
}

#items::-webkit-scrollbar-thumb {
  background-color: rgb(188, 51, 55);
  border-radius: 10px;
}

.item {
  flex: none;
  width: fit-content;
  height: fit-content;
}

#items-wrapper .item img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
  border: solid black;
}

.footer {
  margin-top: 50px;
}

/* MEDIA QUERY- SCREEN */

@media screen and (max-width: 1155px) {
}

@media screen and (max-width: 1145px) {
  .footer {
    flex-wrap: wrap;
  }

  iframe {
    max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    gap: 20px;
  }

  .container-googlemap {
    width: 100%;
  }
}

@media screen and (max-width: 1073px) {
  #items-wrapper .item img {
    width: 400px;
    height: 400px;
  }

  #items {
    height: auto;
  }
}

@media screen and (max-width: 847px) {
  #items-wrapper .item img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 640px) {
  #items-wrapper .item img {
    width: 93vw;
  }
}
